[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
netmiko = "*"
jinja2 = "*"
pyyaml = "*"
napalm = "*"
nornir = "*"
textfsm = "*"
pytest = "*"
setuptools = "*"
simplejson = "*"
pprint = "*"
black = "*"
yamllint = "*"
paramiko = "*"
requests = "*"
pylint = "*"
lxml = "*"
ntc-templates = "*"
cryptography = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
