[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Jinja2 = "*"
PyYAML = "*"
textfsm = "*"
pytest = "*"
setuptools = "*"
simplejson = "*"
yamllint = "*"
requests = "*"
pylint = "*"
lxml = "*"
ntc-templates = "*"
cryptography = "*"
junos-eznc = "*"
nornir = "*"
nornir-napalm = "*"
nornir-netmiko = "*"
nornir-ansible = "*"
nornir-scrapli = "*"
nornir-utils = "*"
nornir-jinja2 = "*"
prettytable = "*"
openpyxl = "*"
pdoc3 = "*"
jinja2 = "*"

[requires]
python_version = "3.8"
