{%- for int, int_dict in routed_interfaces_ipv4.items() | sort %}
    interface {{ int }}
    no switchport
    description {{ int_dict.description }}
    ip address {{ int_dict.net }} {{ int_dict.mask }}
{% endfor %}