{% if eigrp_config is defined %}
router eigrp {{ eigrp_config.AS_number }}
{% for interface in eigrp_config.passive_interfaces %}
 passive-interface {{ interface }}
{% endfor %}
{% for net in eigrp_config.networks %}
 network {{ net.ip }} {{ net.wildcard }}
{% endfor %}
{% if eigrp_config.redistribute is defined %}
{% if eigrp_config.redistribute.static %}
 redistribute static
{% endif %}
{% if eigrp_config.redistribute.ospf is defined%}
{% for process in eigrp_config.redistribute.ospf.processes %}
 redistribute ospf {{ process }}
{% endfor %}
{% endif %}
{% endif %}
!
end
{% endif %}