{%- for int, int_dict in l3_interfaces_ipv6.items() | sort %}
    interface {{ int }}
    description {{ int_dict.description }}
    {%- if int_dict.routed_port %}
        no switchport
    {%- endif -%}
    {%- for net in int_dict.networks %}
        {%- if net.eui_format_auto %}
            ipv6 address {{ net.adress }}{{ net.mask }} eui-64
        {%- else %}
            ipv6 address {{ net.adress }}{{ net.mask }}
        {%- endif %}
    {% endfor %}
{% endfor %}