{%- for int, int_dict in interfaces_ipv6.items() | sort %}
    set interfaces {{ int }} description {{ int_dict.description }}
    {%- for unit in int_dict.units %}
        set interfaces {{ int }} unit {{ unit.number }} family inet6 address {{ unit.net }}{{ unit.prefix_length }}
    {% endfor %}
{% endfor %}