{%- for net in static_routing_config.networks %}
    ip route {{ net.dest_ip }} {{ net.dest_mask }} {{ net.next_hop }}
{%- endfor %}
{%- if static_routing_config.default.defined and static_routing_config.default | length == 2 %}
    ip route 0.0.0.0 0.0.0.0 {{ static_routing_config.default.next_hop }}
{%- endif -%}
