set firewall family inet6 filter ver term 10 from source-address 2001:db8::0/64
set firewall family inet6 filter ver term 10 from destination-address 2001:db9::0/64
set firewall family inet6 filter ver term 10 then discard

set interfaces em1 unit 0 family inet6 filter input/output ver