{% if host.ospfv3_config is defined %}
set routing-options router-id {{ host.ospfv3_config.router_id  }}
{% for int, int_dict in host.ospfv3_config.interfaces.items() | sort %}
{% if int_dict.passive %}
set protocols ospf3 area {{ int_dict.area_number }} interface {{ int }} passive
{% else %}
set protocols ospf3 area {{ int_dict.area_number }} interface {{ int }}
{% endif %}
{% endfor %}
{% if host.ospfv3_config.redistribute_static is defined %}
set policy-options policy-statement {{ host.ospfv3_config.redistribute_static.policy_name }} term {{ host.ospfv3_config.redistribute_static.term_name }} from protocol static
set policy-options policy-statement {{ host.ospfv3_config.redistribute_static.policy_name }} term {{ host.ospfv3_config.redistribute_static.term_name }} then accept
set protocols ospf3 export {{ host.ospfv3_config.redistribute_static.policy_name }}
{% endif %}
{% endif %}